html {    
    background-color: green;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

.header {
    height: 30px;   
    background-color: #4c96dd;    
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-top: 10px;
    text-align: center;    
}

.buttons {
    margin-right: 3%;   
}

h2 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#tableItems {
    width: 49%;
    margin-right: 20%;
    margin-left: 0.1%;
}

#tableSubItems {
    width: 22%;
    margin-left: 80%;
}

#itemsManager {
    position: fixed;
    margin-right: 1%;
    width: 121px;
    top: 139px;
    left: 10px;
}

#subItemsManager {
    position: fixed;
    right: 1%;
}

#BtnAdministration {
    margin-left: 3%;
}